.contenedor{
    width:90px;
    height:240px;
    position:fixed;
    right:0px;
    bottom:0px;
  }
  .botonF1{
    width:60px;
    height:60px;
    border-radius:100%;
    background:#F44336;
    background:#00acee ; 
    /* background:#F44336; */    
    /* background:#00acee ; */
    right:0;
    bottom:0;
    position:absolute;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
    animation: efecto 1.2s infinite;
  }
  span{
    transition:.5s;  
  }
  .botonF1:hover span{
    transform:rotate(360deg);
  }
  .botonF1:active{
    transform:scale(1.1);
  }
  .btn1{
    width:40px;
    height:40px;
    border-radius:100%;
    border:none;
    color:#FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size:28px;
    outline:none;
    position:absolute;
    right:0;
    bottom:0;
    margin-right:26px;
    transform:scale(0);
  }
  .botonF2{    
    background:#01ab4b;
    margin-bottom:85px;
    margin-left: 98px;
    transition:0.5s; 
       
  }

  .botonF3{
    background:#febd00;
    margin-bottom:135px;
    transition:0.7s;
  }
  .botonF4{
    background:#0086f9;
    margin-bottom:185px;
    transition:0.9s;
  }
  .botonF5{
    background:#ff4131;
    margin-bottom:235px;
    transition:0.99s;
  }
  .botonF6{
    background:#ff4131;
    margin-bottom:285px;
    transition:0.99s;
  }
  .animacionVer{
    transform:scale(1);
  }
  .botonF2:hover{
    background: white;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);

  }
  .botonF3:hover{
    background: white;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
  .botonF4:hover{
    background: white;   
    -webkit-transform: scale(1.5);
    transform: scale(1.5) 
  }
  .botonF5:hover{
    background: white;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
  
  .botonF6:hover{
    background: white;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
  @keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
    200%{
      box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}